@import '~@/styles/variables.scss';

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid $gray5;
  box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.15);
  transition: all 250ms linear;

  &:hover {
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.5);
  }
}
