@import './variables.scss';

@mixin button-reset {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin focus-outline($offset: 2px) {
  outline: $gray3 auto 2px;
  outline-offset: $offset;
  -moz-outline-radius: 6px;
}

@mixin no-print() {
  @media print {
    display: none !important;
  }
}

@mixin only-print() {
  display: none;

  @media print {
    display: inherit;
  }
}
