@import '~@/styles/variables';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  // flex: 1 1 auto;
  height: calc(100% - 31px);

  &.noHeader{
    height: calc(100%);
  }
}
